.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

.track{
    display: flex;
    flex-direction: row;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgb(34,193,195);
    padding: 5px;
    gap: 1rem;
}

.track_cover{
    width: 150px;
    height: 150px;
}

.track_cover img{
    border-radius: 0.5rem;
}

/*-----------------------------------MEDIA-QUERY-------------------------------------*/

/*Small screens*/
@media (min-width: 320px) and (max-width: 480px){
    .container{
        width: 97%;
    }
}

/*Smartphones*/
@media (min-width: 481px) and (max-width: 768px){
    .container{
        width: 95%;
    }
}

/*tablet ad landscape*/
@media (min-width: 769px) and (max-width: 1024px) and (orientation: landscape){
    .container{
        width: 80%;
    }
}

/*Desktop*/
@media (min-width: 1025px) and (max-width: 1280px){
    .container{
        width: 80%;
    }
}