/*Contendor principal*/
.container{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    border-radius: 2rem;
    max-width: 700px;
    border: 1px solid #130c25;
    box-shadow: 0 10px 10px #130c25;

    background-color: #41cbcd;
    opacity: 1;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #41cbcd 40px ), repeating-linear-gradient( #22c0c355, #22c0c3 );

}

/*Cover del album*/
.container figure{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    object-fit: cover;
    padding: 1rem 0 1rem 0;
}

.container img{
    border-radius: 0.5rem;
    border: 1px solid #130c25;
}

/*info de la cancion*/
.container label{
    width: 100%;
    display: flex;
    justify-content: left;
    color: #130c25;
    font-size: 1rem;
    font-family: "Exo 2", serif;
    font-weight: 500;
    padding: 1rem 0 0 0;
    gap: 10px;
}


/*-----------------------------------MEDIA-QUERY-------------------------------------*/

/*Small screens*/
@media (min-width: 320px) and (max-width: 480px){
    .container{
        width: 97%;
        padding: 1rem;
    }
}

/*Smartphones*/
@media (min-width: 481px) and (max-width: 768px){
    .container{
        width: 95%;
        padding: 1rem;
    }
}

/*tablet ad landscape*/
@media (min-width: 769px) and (max-width: 1024px) and (orientation: landscape){
    .container{
        width: 80%;
        padding: 2rem;
    }
}

/*Desktop*/
@media (min-width: 1025px) and (max-width: 1280px){
    .container{
        width: 80%;
        padding: 2rem;
    }
}